.layout {
  padding: 0 0 40px 0;
}

.row {
  display: flex;
  padding: 40px 0;
}

.summary {
  width: 440px;
  height: 330px;
}

.chart {
  margin-left: 40px;
  width: 800px;
  height: 370px;
}

.table {
  width: 100%;
  height: 400px;
}

.addAsset {
  & button {
    background-color: transparent;
    outline: none;
    padding: 8px 15px 10px;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #bababa;
    border: 1px solid #313131;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.1s linear all;

    &:hover {
      color: #fff;
    }
  }
}
